<% content_for :title do %>
    Lager
<%end%>
<%= erb :"parts/category_list" %>

<article class="main" id="inventory_main">

    <%= erb :"parts/inventory_search_field" %>

    <div id="inventory">
        <%if category_name == "Alla"%>
            <%if search_term != ""%>
                <h2>Sökning: "<%= search_term %>"</h2>
                <p>Här är sökresultatet för "<%= search_term %>" som finns i lagret. Lager statusen är inte garanterad.</p>
            <%else%>
                <h2>Alla saker:</h2>
                <p>Här kan du hitta all elektronik, prylar, byggsatser m.m som finns att använda. Lager statusen är självklart inte garanterad.</p>
            <%end%>
        <%else%>
            <h2>Kategori: <%= category_name %></h2>
            <p>Här finns alla saker i lagret inom kategorin <%= category_name %>. Lagerstatusen är inte granterad.</p>
        <%end%>

        <p>Obs: Bilder och informationstexter till alla föremålen kommer att läggas till i efterhand.</p>

        <div id="sorting">
            <h4>Sortera efter:</h4>
            <p>Namn: </p>
            <u onclick="open_link('sort_after=name_asc')">A..Ö</u>
            <u onclick="open_link('sort_after=name_desc')">Ö..A</u>
            <p> | </p>
            <p>Antal: </p>
            <u onclick="open_link('sort_after=quantity_asc')">1..*</u>
            <u onclick="open_link('sort_after=quantity_desc')">*..1</u>
        </div>

        <div id="inventory_items">
            <%if inventory != nil && inventory.length > 0 %>
              <% inventory.each do |item| %>
                  <div class="item">
                    <div class="item_picture">
                      <a href="/inventory/<%=item[:id]%>"><img src="product_images/product_<%=item[:id]%>.jpg" alt="TBA"></a>
                    </div>
                    <div class="item_info">
                      <p class="item_quantity">I lager: <%=item[:quantity]%> st.</p>
                      <a href="/inventory/<%=item[:id]%>"><%=item[:name]%></a>
                      <p class="item_description"><%=item[:description][0..100]%></p>
                    </div>
                  </div>
                  <div class="item_divider"></div>
              <% end %>
            <%else%>
                <%if search_term != nil && search_term != ''%>
                  <h3 style="text-align: center">Inget kunde hittas!</h3>
                <% end %>
            <%end%>
        </div>
    </div>

</article>