<% content_for :title do %>
    <%=item_name%>
<%end%>

<%= erb :"parts/category_list", :locals => {:categories => get_categories, :category_list_id => 1} %>

<article class="main" id="item_main">
    <%= erb :"parts/inventory_search_field", :locals => {:inventory_item_names => inventory_item_names} %>

    <h4 id="item_category">Kategori: <a href="/inventory?category=<%=item_category%>" ><%= item_category_name %></a></h4>
    <div>
        <div id="item_image">
          <img src="/product_images/product_<%=item_id%>.jpg" alt="TBA">
        </div>

        <div id="item_header">
            <h2><%= item_name %></h2>
            <h4>Antal i lager: <%=item_quantity%></h4>
        </div>

        <p id="item_description"><%= item_description %></p>
    </div>
</article>